:host {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  > * {
    height: auto;
    width: 30%;
    margin: 9px;
    min-width: 300px;
    min-height: 200px;

    img {
      max-width: 100%;
      max-height: 100%;
    }
  }
}